a {
  color: black !important;
}
body {
  background: #eff0f3;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.signinback {
  background-image: url("Page.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-attachment: scroll;
  background-position: center;
}
.signupback {
  background-image: url("signupPage.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-attachment: scroll;
  background-position: center;
}
.back {
  margin: 5% 10%;
}
.auth-card {
  padding: 30px;
  text-align: center;
  max-width: 450px;
  background-color: #eff0f3;
  margin: 50px auto;
  border: 1px solid #ba0015;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}
.thank {
  margin: 200px auto;
}
.form-card {
  padding: 15px;
  text-align: center;
  max-width: 1400px;
  background-color: #eff0f3;
  margin: 50px auto;
  border: 1px solid #ba0015;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.my-card {
  height: 700px;
}
.notification {
  max-width: 500px;
  height: 100px;
  height: auto;
  margin: auto;
}
.myprofile {
  max-width: 550px;
  margin: 0px auto;
  min-width: 20px;
}
footer {
}
.notecards {
  height: auto;
  padding: 1px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav {
  nav-index: 23;
  z-index: 38;
}
.sign {
  font-size: 1rem;
  color: #ba0015;
}
.sign1 {
  font-size: 2rem;
  color: #ba0015;
}
.cheat {
  margin-top: 100px;
}
.input-field input[type="text"] {
  border: 1px solid #d2d6dc !important;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 0px 0 #d2d6dc !important;
}
.input-field input[type="number"] {
  border: 1px solid #d2d6dc !important;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 0px 0 #d2d6dc !important;
}
.input-field input[type="password"] {
  border: 1px solid #d2d6dc !important;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 0px 0 #d2d6dc !important;
}
.item {
  width: 30%;
}
.home {
  width: 85%;
  height: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.back {
  /* background-color: blanchedalmond;*/
}
.gallery {
  width: 85%;
  height: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.cards {
  height: auto;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}
#toast-container {
  top: 30px !important;
  right: 20px !important;
  left: auto !important;
}
/* .timer-component {
  font-weight: bold;
  color: green;
}
.timer-compo {
  font-weight: bold;
  color: red;
} */
.search {
  width: 30%;
  margin: 20px auto;
  border-color: black;
}
.card-content {
  margin-bottom: 1%;
}
.navigation {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-flow: column;
  align-items: center;
  text-align: center;
}
.input-field input[type="tex"]:focus {
  border-radius: 10px;
  border-bottom: 1px solid rgb(34, 177, 243) !important;
}
.textstyle {
  font-size: 1.6rem;
  font-family: Poppins;
  margin-left: 0px;
}
.fourbutton {
  margin-left: 120px;
}
@media only screen and (max-width: 800px) {
  .home {
    width: 90%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  .thank {
    margin: 150px auto;
  }
  .cheat {
    margin-top: 30px;
  }
  .form-card {
    padding: 20px;
    text-align: center;
    max-width: 900px;
    background-color: #eff0f3;
    margin: 30px auto;
    border: 1px solid #ba0015;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
  }

  .cards {
    height: auto;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  .textstyle {
    font-size: 1.2rem;
    font-family: Poppins;
  }
  .search {
    width: 60%;
    margin: auto;
    border-color: black;
  }
  .gallery {
    width: 95%;
    height: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .home {
    width: 100%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .thank {
    margin: 130px;
  }
  .fourbutton {
    margin-left: 80px;
  }
  .cheat {
    margin-top: 0px;
  }
  .auth-card {
    padding: 20px;
    text-align: center;
    max-width: 400px;
    margin: 100px auto;
  }
  .form-card {
    padding: 20px;
    text-align: center;
    max-width: 500px;
    margin: 30px auto;
  }
  .cards {
    height: auto;
    padding: 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }

  .search {
    width: 80%;
    margin: auto;
    border-color: black;
  }
  .textstyle {
    font-size: 1.2rem;
    font-family: Poppins;
  }
  .magic {
    display: none;
  }
  .gallery {
    width: 100%;
    height: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media only screen and (max-width: 450px) {
  .fourbutton {
    margin-left: 40px;
  }
  .thank {
    margin: 100px;
  }
}

@media only screen and (max-width: 360px) {
  .gallery {
    width: 100%;
    height: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .fourbutton {
    margin-left: 10px;
  }
  .thank {
    margin: 70px;
  }
  .textstyle {
    font-size: 1rem;
    font-family: Poppins;
  }
}
